/* CONFIGURAÇÃO INICIAL */

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ELEMENTOS PADRÃO */

.container {
    height: 100%;
    width: 85%;
    margin: 0 auto;
    display: flex;
}


/* HEADER */

.header {
    position: fixed;
    font-weight: 900;
    height: 8%;
    width: 100%;
    background-image: linear-gradient(#000000, transparent);
}

.header .container {
    justify-content: space-between;
}

.navbar-logo {
    height: 80%;
    margin: 2.5% 0;
}

.navbar {
    width: 45%;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    margin: 0 1%;
    color: #FFFFFF;
    transition: 500ms;
}

.navbar a:hover {
    color: #FF7E7E;
    transition: 500ms;
}

#navbar-current {
    text-decoration: underline;
}

.navbar-auth {
    height: 65%;
    width: 23%;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
}

.navbar-auth a {
    text-decoration: none;
    width: 30%;
    padding: 0 8.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.navbar-login {
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #405BE9;
    transition: 500ms;
}

.navbar-login:hover {
    background-color: #405BE9;
    color: #FFFFFF;
    transition: 500ms;
}

.navbar-register {
    background-color: #FF7E7E;
    color: #FFFFFF;
    border: 2px solid #FF7E7E;
    transition: 500ms;
}

.navbar-register:hover {
    background-color: transparent;
    color: #FF7E7E;
    transition: 500ms;
}

/* HOME */

/* Vídeo de Fundo */
.home_hero_bg_video {
    position: fixed;
    width: 100%;
    z-index: -1;
}

/* Conteúdo na frente do Vídeo*/
.home_hero_content .container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00000015;
    /* background-image: radial-gradient(#000000, transparent) */
}

.home_hero_content {
    height: 100%;
    width: 100%;
}

.home_hero_image {
    height: 25%;
    padding: 1%;
    /* background-color: #00000015; */
    /* border: 2px solid #405BE9; */
    border-radius: 20px;
}

.home_hero_subtitle {
    color: #FFFFFF;
    padding: 1%;
    background-color: #00000025;
    border: 2px solid #405BE9;
    border-radius: 10px;
}

.home_hero_subtitle .sonic {
    color: #405BE9;
}

.home_hero_subtitle .the {
    color: #F5ED1E;
}

.home_hero_subtitle .hedgehog {
    color: #FF7E7E;
}

