/* CONFIGURAÇÃO INICIAL */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* ELEMENTOS PADRÃO */

.container {
    height: 100%;
    width: 85%;
    margin: 0 auto;
    display: flex;
}

/* HEADER */

.header {
    font-weight: 900;
    height: 8%;
    width: 100%;
}

.header .container {
    justify-content: space-between;
}

.navbar-logo {
    height: 80%;
    margin: 2.5% 0;
}

.navbar {
    width: 45%;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    margin: 0 1%;
    color: #405BE9;
    transition: 500ms;
}

.navbar a:hover {
    color: #FF7E7E;
    transition: 500ms;
}

.navbar-auth {
    height: 65%;
    width: 23%;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
}

.navbar-auth a {
    text-decoration: none;
    width: 30%;
    padding: 0 8.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.navbar-login {
    background-color: #FFFFFF;
    color: #405BE9;
    border: 2px solid #405BE9;
    transition: 500ms;
}

.navbar-login:hover {
    background-color: #405BE9;
    color: #FFFFFF;
    transition: 500ms;
}

.navbar-register {
    background-color: #FF7E7E;
    color: #FFFFFF;
    border: 2px solid #FF7E7E;
    transition: 500ms;
}

.navbar-register:hover {
    background-color: #FFFFFF;
    color: #FF7E7E;
    transition: 500ms;
}

